<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>758465972044-cs2m2c9cg56n5nse6lib8j45ucaoub44.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.758465972044-cs2m2c9cg56n5nse6lib8j45ucaoub44</string>
	<key>API_KEY</key>
	<string>AIzaSyBj1oNfIasQPU9bS0m9UNMn4raBRuJYy0A</string>
	<key>GCM_SENDER_ID</key>
	<string>758465972044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cleanAir</string>
	<key>PROJECT_ID</key>
	<string>cleanair-25eb3</string>
	<key>STORAGE_BUCKET</key>
	<string>cleanair-25eb3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758465972044:ios:552fe9b356ef964a0571e9</string>
</dict>
</plist>